<div class="messages-wrapper">
  <section>
    <div class="clear"></div>
      <div class="from-them">
        <p>Honey, there is a huge fire in Santa Rosa. We had to evacuate at 1:30am. We are okay and at the Milestone office with the Cohills.</p>
      </div>
    <div class="clear"></div>
    <div class="from-them">
        <p>I love you more than words. I am so sorry that so many mementos have been lost. It is too much. To bear. Stay safe my love. We love you so.</p>
      </div>
    <div class="clear"></div>
    <div class="from-me">
        <p>I love you guys so much as well. It's terrible what happened, but as long as we all are safe that is what is important. Let me know if I can help in any way mom.</p>
      </div>
  </section>
</div>
