.photo-essay-img {
  margin: 0 auto;
  max-width: 90%;
}

.photo-essay {
  width: 100%;
  text-align: center;

  .caption {
    max-width: 800px;
    text-align: center;
    font-size: 1.25rem;
    margin: 0 auto;
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: 'Lora', serif;

    @media (max-width: 800px) {
      max-width: 90%;
    }
  }
}
