<h2 class="main-head" style="font-size: 3rem">FIRE FOLLOWERS: PART 1</h2>
<div class="slider-container">
  <div class="ba-slider">
    <img src="img/after.jpg" alt="">
    <div class="resize">
      <img src="img/before.png" alt="">
    </div>
    <span class="handle"></span>
  </div>
</div>
<div class="blurb">
A fire follower is a plant that can lay dormant for years underneath the dense foliage of other plant life, never exposed the sun. But following the extreme clearance of a large fire, they suddenly find themselves with access to sunlight, allowing them to bloom after destruction. In fall and winter of 2017, fires ravaged through the state of California, eating through homes, trees and brush ranging from Northern California to UCLA’s own doorstep. The effects were and continue to be debilitating for the victims. But like fire followers, UCLA community members impacted by the fires have begun to rise from the ashes, learning to operate under new light. This package explores the effects of the California wildfires in Sonoma County and Los Angeles on UCLA community members as well as possible solutions for fire preparation in the future.
<br>
(Photos by Mackenzie Possee/Daily Bruin senior staff)
<hr />
</div>
