<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {# <base href="https://features.dailybruin.com/2018/fast-fashionshow/"> #}
  <title>Fire Followers | Daily Bruin</title>
  <meta name="description" content="A fire follower is a plant that can lay dormant for years underneath the dense foliage of other plant life, never exposed the sun. But following the extreme clearance of a large fire, they suddenly find themselves with access to sunlight, allowing them to bloom after destruction. In fall and winter of 2017, fires ravaged through the state of California, eating through homes, trees and brush ranging from Northern California to UCLA’s own doorstep. The effects were and continue to be debilitating for the victims. But like fire followers, UCLA community members impacted by the fires have begun to rise from the ashes, learning to operate under new light. This package explores the effects of the California wildfires in Sonoma County and Los Angeles on UCLA community members as well as possible solutions for fire preparation in the future.">

  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Fire Followers | Daily Bruin">
  <meta property="og:image" content="img/after.jpg">
  <meta property="og:description" content="A fire follower is a plant that can lay dormant for years underneath the dense foliage of other plant life, never exposed the sun. But following the extreme clearance of a large fire, they suddenly find themselves with access to sunlight, allowing them to bloom after destruction. In fall and winter of 2017, fires ravaged through the state of California, eating through homes, trees and brush ranging from Northern California to UCLA’s own doorstep. The effects were and continue to be debilitating for the victims. But like fire followers, UCLA community members impacted by the fires have begun to rise from the ashes, learning to operate under new light. This package explores the effects of the California wildfires in Sonoma County and Los Angeles on UCLA community members as well as possible solutions for fire preparation in the future.">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dailybruin">
  <meta name="twitter:title" content="Fire Followers | Daily Bruin">
  <meta name="twitter:description" content="A fire follower is a plant that can lay dormant for years underneath the dense foliage of other plant life, never exposed the sun. But following the extreme clearance of a large fire, they suddenly find themselves with access to sunlight, allowing them to bloom after destruction. In fall and winter of 2017, fires ravaged through the state of California, eating through homes, trees and brush ranging from Northern California to UCLA’s own doorstep. The effects were and continue to be debilitating for the victims. But like fire followers, UCLA community members impacted by the fires have begun to rise from the ashes, learning to operate under new light. This package explores the effects of the California wildfires in Sonoma County and Los Angeles on UCLA community members as well as possible solutions for fire preparation in the future.">
  <meta name="twitter:image" content="img/after.jpg">


  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lora|Overpass" rel="stylesheet">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous">

  <link rel="stylesheet" href="./css/index.css">

</head>
