@import 'components/footer/_footer';
@import 'components/header/_header';
@import 'components/cards/_cards';
@import '_article';
@import 'components/essay/_essay';
@import 'components/messages/_messages';
@import 'components/article/_article';

#db-logo {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
}
